.completionContainer {
	height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
  color: white;
}

.meme {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 1rem auto;
  border-radius: 50px;
}

.resMsg {
  margin-left: 40px;
  margin-right: 40px;
}