.landingContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.emailInput {
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #6f6f6f;
  border: none;
  margin-top: 50px;
}

.emailInput::placeholder {
  color: white;
  font-family: "Inter", sans-serif;
  width: 256px;
  height: 44px;
}

.emailDisclaimer {
  padding: 0;
  margin: 0;
}

.emailConsent label {
  color: white;
}

.emailConsent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin-top: 50px;
  font-size: 20px;
  margin-left: 42px;
  margin-right: 42px;
  text-align: left;
}

.emailNotifs {
  width: 16px;
  height: 16px;
  border: none;
}

.startBtn {
  margin-top: 50px;
  font-size: 48px;
  width: 256px;
  height: 80px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #cf792e;
  margin-bottom: 50px;
}

@media (max-width: 380px) {
  .quizLogo {
    width: 300px;
    height: 300px;
  }
}

.error {
  color: white;
  text-align: center;
  padding: 20px;
  border-left: 10px solid white;
  background-color: #a93131;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}